<div class="pad10">
  <div class="pad10 border">
    <h1>FAQ</h1>

    <ol>
      <li>
        <h3>
          Can I delete my feed?
        </h3>
        <p>
          Not manually. Feeds are automatically deleted if not used for more than 90 days.
        </p>
      </li>

      <li>
        <h3>
          I am trying to turn the link below into a podcast form (to listen to on my phone) and it doesn't seem to be
          working?
          https://www.youtube.com/watch?v=XXxxxXXxXxX
        </h3>
        <p>
          Podsync can't build a feed from just one video. You have to provide a link either to a channel, user, or
          playlist.
        </p>
      </li>

      <li>
        <h3>
          Audio podcast is double the length of the video, and the second half is silent
        </h3>
        <p>
          This is known issue. Unfortunately as of now I don't have any fix for this.
        </p>
      </li>

      <li>
        <h3>
          I am trying to download some files, but it is giving the following error "Download failed, error code 403
          forbidden".
          Is there a solution?
        </h3>
        <p>
          That happens because you're in a different region than Podsync.
          More details on this <a href="https://www.patreon.com/posts/youtube-playlist-7874992">here</a>.
          I've been working on multi-region support, fix is coming soon.
        </p>
      </li>

      <li>
        <h3>
          Does feeds auto-update as new videos show up on YouTube?
          Or do they just represent a snapshot of whenever you generated them?
        </h3>
        <p>
          Feeds are cached for 10 minutes to reduce server loads.
        </p>
      </li>

      <li>
        <h3>
          Is it possible to get a podcast of all videos in "watch later" on YouTube?
        </h3>
        <p>
          No, that would require "login with your YouTube account" on Podsync.
          Instead you might want to create custom playlist and add there videos you want to watch.
        </p>
      </li>
    </ol>
  </div>
</div>

<app-footer class="bottom-links">
  <a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i></a>
  <a href="https://twitter.com/pod_sync"><i aria-hidden="true" class="fa fa-twitter"></i></a>
</app-footer>
