<div class="frame">
  <input type="url"
         readonly
         [value]="address"
         [size]="address.length"
         #input />

  <div class="links">
    <span>
      <a href="#" (click)="copyToClipboard(input)" *ngIf="canCopy">
        <i class="fa fa-clone" aria-hidden="true"></i>
        Copy
      </a>
    </span>

    <span>
      <a [href]="address" target="_blank">
        <i aria-hidden="true" class="fa fa-external-link"></i>
        Open
      </a>
    </span>

    <span>
      <a href="#" (click)="close()">
        <i aria-hidden="true" class="fa fa-thumbs-up"></i>
        Close
      </a>
    </span>
  </div>

</div>
