
<div class="title">
    <h1>Podsync</h1>
    
    <p>
        Simple and free service that lets you listen to any YouTube or 
        Vimeo channels, playlists or user videos in podcast format.
    </p>

    <div class="login-block">
        <h5>Login to unlock Patreon features <i class="fa fa-question-circle" aria-hidden="true"></i></h5>
        <a href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="#">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
    </div>
</div>

<div class="main">
    <div class="main-border">
        <div class="input-border">
            <input id="url-input" type="url" placeholder="paste your link here" spellcheck="false" autofocus />
            <div class="arrow-button">
                <a href="#" id="get-link">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>    
                </a>
            </div>
        </div>

        <div class="controls">
            <p>
                <i class="fa fa-wrench" aria-hidden="true"></i>
                @*                <i class="fa fa-question-circle" aria-hidden="true"></i>*@
                <span class="">
                    Selected format <a class="selected-option">video</a> <a>audio</a>,
                    quality <a>best</a> <a class="selected-option">worst</a>,
                    episode count <a>50</a> <a class="selected-option">100</a> <a>150</a>
                </span>
            </p>
        </div>
    </div>
</div>

<div class="man"></div>

<div>
    <a href="https://www.patreon.com/podsync" target="_blank">
        <img class="patreon" width="400" src="img/become_patreon.png" />    
    </a>
</div>