
<div class="title">
    <h1>Podsync</h1>
    
    <p>
        Simple and free service that lets you listen to any YouTube or 
        Vimeo channels, playlists or user videos in podcast format.
    </p>

    <div class="login-block">
        <h5>Login to unlock Patreon features <i class="fa fa-question-circle" aria-hidden="true"></i></h5>
        <a href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="#">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
    </div>
</div>

<div class="main">
    <div class="main-border shadow">
        <div class="input-border">
            <input id="url-input" type="url" placeholder="paste your link here" spellcheck="false" autofocus />
            <div class="arrow-button">
                <a href="#" id="get-link">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>    
                </a>
            </div>
        </div>

        <div class="controls">
            <p>
                <i id="control-icon" class="fa fa-question-circle" aria-hidden="true"></i>
                <span id="control-panel" class="locked">
                    Selected format <a class="selected-option" id="video-format">video</a> <a id="audio-format">audio</a>,
                    quality <a class="selected-option" id="best-quality">best</a> <a id="worst-quality">worst</a>,
                </span>
                <span class="locked" style="text-decoration: line-through">
                    <i class="fa fa-question-circle master-tooltip" title="Still under development. We will keep you updated via Patreon's news feed" aria-hidden="true"></i>
                    episode count <a class="selected-option">50</a> <a>100</a> <a>150</a>
                </span>
            </p>
        </div>
    </div>
</div>

<div class="man"></div>

<div>
    <a href="https://www.patreon.com/podsync" target="_blank">
        <img class="patreon shadow" width="400" src="img/become_patreon.png" />
    </a>
</div>

<div class="modal" id="modal" style="display: none">
    <input type="url" id="output-input" readonly />
    <div class="modal-links">
        <span>
            <a id="modal-copy" href="#">
                <i class="fa fa-clone" aria-hidden="true"></i>
                Copy
            </a>
        </span>

        <span>
            <a id="modal-open" href="#" target="_blank">
                <i class="fa fa-external-link" aria-hidden="true"></i>
                Open
            </a>
        </span>

        <span>
            <a id="close-modal" href="#">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                Close
            </a>
        </span>
    </div>
</div>