@using Podsync.Helpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title>Podsync - Turn YouTube channels into podcast feeds</title>
    <meta property="og:title" content="Podsync - turn YouTube channels into podcast feeds" />
    <meta property="og:description" content="Simple and free service that lets you listen to any YouTube or Vimeo channels, playlists or user videos in podcast format" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="@Url.AbsoluteContent("~/img/og_image.png")" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simple and free service that lets you listen to any YouTube or Vimeo channels, playlists or user videos in podcast format"/>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")" />

    <environment Names="Development">
        <link rel="stylesheet" href="css/site.css" asp-append-version="true" />
    </environment>

    <environment Names="Staging,Production">
        <link rel="stylesheet" href="css/site.min.css" asp-append-version="true" />
    </environment>
    
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
<div class="background-image">
    @RenderBody()

    <div class="footer">
    </div>
</div>

<script src="https://use.fontawesome.com/2895b37726.js"></script>

<environment Names="Development">
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
    
<environment Names="Staging,Production">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            asp-append-version="true">
    </script>
    
    <script src="~/js/site.min.js" asp-append-version="true">
    </script>
</environment>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-64237526-1', 'auto');
ga('send', 'pageview');
</script>

<script>
(function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
})(window, document, '_gscq','script','//widgets.getsitecontrol.com/23626/script.js');
</script>

</body>
</html>