.footer {
  background-image: url('/assets/img/pc_footer.png');
  -ms-background-position: center bottom;
  background-position: center bottom;
  background-color: #aca496;
  position: absolute;
  width: 100%;
  height: 69px;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  -webkit-user-select: text;
  z-index: -1;

  @media screen and (max-width: 640px) {
    background-image: url('/assets/img/mobile_footer.png');
    height: 50px;
  }
}

.footer-links {
  position: absolute;
  right: 2em;
  bottom: 0;
  font-size: 3em;
}
