<div class="title">
  <h1>Podsync</h1>

  <h2>
    Simple and free service that lets you listen to any YouTube or
    Vimeo channels, playlists or user videos in podcast format.
  </h2>

  <div class="login-block">
    <div class="login-border">

      <ng-container *ngIf="!loggedIn">
        <a href="/user/login">
          <i aria-hidden="true" class="fa fa-unlock"></i>
          Login with Patreon to unlock features
        </a>
        <a href="https://www.patreon.com/bePatron?c=278915">
          <i aria-hidden="true" class="fa fa-question-circle-o"></i>
        </a>
      </ng-container>
      <ng-container *ngIf="loggedIn">
        <a>Hey, <i aria-hidden="true" class="fa fa-user-o"></i> {{ user?.full_name }}</a>
        <a href="/user/logout"><i aria-hidden="true" class="fa fa-power-off"></i></a>
      </ng-container>

    </div>
  </div>
</div>

<app-input [featureLevel]="user?.feature_level"
           [locked]="!loggedIn">
</app-input>

<div class="man"></div>

<div>
  <a href="https://www.patreon.com/podsync" target="_blank" rel="noopener">
    <img alt="Become my patron on Patreon" class="patreon shadow" src="assets/img/become_patreon.png"
         width="400"/>
  </a>
</div>

<app-footer class="bottom-links">
  <a routerLink="/faq"><i aria-hidden="true" class="fa fa-question-circle"></i></a>
  <a href="https://twitter.com/pod_sync"><i aria-hidden="true" class="fa fa-twitter"></i></a>
</app-footer>
